*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: rgba(3,27,78,.7);
  border-radius: 5px;
  list-style-type: none;

}

#navbar-fixed-high{
  padding-top: 10px;
}

.btn-group-xs>.btn, .btn-xs{
  background-color:rgb(0, 215, 210);
  font-size: 9px;
  margin-left: 10px;
  border: none;
  padding: 4px 8px;
}

.text-navbar-alto{
  margin-left: 10px;
  margin-right: 20px;
  line-height: 22px;
  font-size: 12px!important;
  color: #5b6987!important;
}

#navbar-wlogo{
  top: 50px;
}

.navbar-brand{
  width: 172px;
  height: 29px;
}

#signin-button{
  margin-left: 500px;
  border: 1px solid #0069ff;
  color:rgb(19, 59, 255);
}

#main-page{
  background-size: cover;
  margin-top: 120px;
  padding-top: 40px;
  height: 815px;
}

#blocco-testo{
  width: 576px;
}

#blocco-testo-main{
  margin-top: 220px;
  color: white;
  font-size: 62px;
  text-align: left;
  font-weight: 400;
}

#testo-p-main{
  line-height:36px;
  color: #CEDBFF;
  font-size: 24px;
  font-weight: 300;
  text-align:left;

}

#box-destro{
  background-color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  color:rgba(3,27,78,.1);
  padding: 32px;
}

#text-form-group{
  font-size: 30px;
  margin-bottom: 32px;
  font-weight: 400;
}
#box-dx-form{
    margin-top: 15px;
}
.btn-group-lg>.btn, .btn-lg {
  font-size: 16px;
  font-weight: 400;
}
.form-control{
padding: 0 16px;
font-size: 16px;
}
.btn-primary {
  background-color: #1532FF;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  background: #f2f8ff;
  border: 1px solid color:rgba(0,105,255,.2);
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
}

.img-size{
  width: 19px;
}

p.navbar-btn{
  padding-top: 16px;
  font-size:12px;
  line-height:18px;
}

#box-client{
  padding: 64px 0;
  background-color: #F3F5F9;
  text-align: center;
}

.media-object{
  align-items: center;
  height: 39px;
  margin: 0 30px;
}

#wework-photo{
  height: 39px;
  margin: 0 30px;
}

#gitlab-photo{
  height: 45px;
  margin: 0 30px;
}

#clients{
  padding-top: 40px;
  color:rgb(19, 59, 255);
}

#text-client{
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 16px;
  font-weight: 300;
  letter-spacing:0.7px;
}
#deploy{
  padding: 20px 0 64px;
  color: #031b4e;
}

#h2-text{
  color: #031b4e;
}

#p-text-deploy{
  font-size:20px;
  font-weight:400;
  line-height:30px;
  color: #031b4e;
}
.list-group-item{
  text-align: left;
  color: #031b4e;
}
.container,.container-fluid{
  text-align: center;
}

#design{
  padding: 120px 0;
  background-color: #F3F5F9;
}

#box-thumbnail{
  padding: 120px 0;
}

#text-big-design{
  font-size:36px;
  color:rgb(3, 27, 78);
  letter-spacing:-0.9px;
  line-height:45px;
  font-weight: 400;
}

.caption{
  text-align: left;
}

#parag-design{
  font-size:20px;
  line-height:30px;
}
.row{
  margin-top: 50px;
}

.photo-carousel{
  padding: 150px;
}

#text-basso-design{
  margin-top: 35px;
  margin-bottom: 35px;
}
#img-align{
  text-align: left;
}

#img-deploy{
  text-align: left;
}
.photo-thumbnail{
  width:43px;
}

.thumbnail-h-text{
  color: #031b4e;
  font-size: 18px;
  line-height:27px;
}

.thumbnail-a-text{
  color: #0069ff;
  font-size:16px;
}

#box-service{
  padding: 120px 0;
  background-color:rgb(3, 27, 78);
  background-image: url(https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg);
}

#service-world{
  color: white;
}

#text-big-service-box{
  font-size:36px;
  line-height:45px;
  font-weight:400;
}

td,th{
  color: white;
  text-align: left;
}

[class*=codice-]{
  font-size:13px;
  font-weight:400;
  line-height:19.5px;
}
.codice-citta{
  opacity:0.6;
}
.codice-speed{
  color:rgb(0, 215, 210);
}

#love-section{
  padding: 120px 0;
  background-color: #F3F5F9;
}

#get-started{
  text-align: center;
  background-color: rgb(2, 72, 255);
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  padding: 64px 0;
  height: 245px;
}

#text-big-getstrated{
  color: white;
  font-size:30px;
  font-weight: 400;
  line-height:45px;
}

footer{
  background-color: #010e28;
  color: hsla(0,0%,100%,.5);
  font-size: 14px;
  padding-bottom: 96px;
  padding-top: 96px;
}

li{
  font-size:14px;
  font-weight:400;
  line-height:21px;
  color: white;
}

#footer-list{
  text-align: left;
}
